* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: 'Montserrat', sans-serif;
}

/* a 링크 태그 스타일 초기화 */
a {
  all: unset;
}


.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 4rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
}

.login {
  width: 510px;
  height: 554px;
  margin: 150px auto;
  color: rgba(255, 255, 255, 1);
  box-shadow: 20px 20px 10px 5px rgb(25 42 70 / 18%);
  border-radius: 8px;
}

.font-title {
  padding-top: 4rem;
  margin: 100px auto;
  font-size: 28px;
  color: black;
  text-align: center;
}

.kakao {
  text-align: center;
  color: black;
}
.first {
  margin: 2rem auto;
  width: 300px;
  height: 45px;
  padding-top: 0.6rem;
  border-radius: 5px;
  background: rgba(196, 196, 196, 0.5);
  text-align: center;
  color: black;
  font-size: 0.9rem;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}
