* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a 링크 태그 스타일 초기화 */
a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
}
.inner1 {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
  overflow: hidden; /* 넘치는 영역에 대해서는 표시안되도록 작성해야 함 */
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
  font-weight: bold;
  font-size: 1.7rem;
}

.head-container .head-brand a:hover {
  color: #ffc107;
  cursor: pointer;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
  font-weight: bold;
  font-size: 1rem;
}

.head-container a:hover {
  color: #ffc107;
  cursor: pointer;
}

.head-blog a:hover {
  color: #ffffff;
  cursor: pointer;
}

.btn{
  width: 130px;
  height: 40px;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}
/* 여기는 another.html 부분입니다. */
.program1 {
  margin-top: 100px;
  padding: 0 2rem;
  display: flex;
}
.program11 {
  margin-top: 150px;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}
.program1-1 {
  display: flex;
}

.program112 {
  padding: 0 2rem;
}

.program113 {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.pro-head {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.pro-body {
  font-size: 1rem;
  margin-bottom: 2rem;
}


.title-container {
  padding-top: 100px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}
.login-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.login-subtitle {
  font-size: 1.2rem;
}
.login-maintitle {

}

.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow
     offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  transition: 0.4s;
}

.titile {
  margin-left: 2rem;
}

.skill:hover {
  transform: translate(0, -5px);
}

.skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
}

.python-style {
  color: #2186c4;
}

.analysis-style {
  color: #ff8066;
}

.ai-style {
  color: #f7df1e;
}

.vue-style {
  color: #2e7d32;
}

.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}

.slide-prev {
  font-size: 2rem;
  cursor: pointer;
  color: #f1c232;
}

.slide-next {
  font-size: 2rem;
  cursor: pointer;
  color: #cfd8dc;
}

.arrow-container {
  display: flex;
}

.class-list {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: hidden;
}

.class-card {
  width: 240px;
  /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow
     offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
  flex-shrink: 0;
}

.class-card:hover {
  box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}

.class-image {
  /* 사이즈가 큰 이미지를 작은 블럭 내에 넣을 때 호환성을 위해 max-width/max-height 를 사용해야 함 */
  max-width: 240px;

  /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
     top-left | top-right | bottom-right | bottom-left */
  border-radius: 8px 8px 0 0;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-type {
  font-size: 0.9rem;
  color: #949393;
}

.class-format {
  font-size: 0.9rem;
  color: #fff;
  background-color: #ffd966;
  padding: 0.2rem;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
}

.class-title {
  font-weight: bold;
  color: #545e6f;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  line-height: 1.5rem;
}

.roadmap-desc {
  display: visible;
}

li a:hover {
  cursor: pointer;
}

footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer-message {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  color: #545e6f;
  margin: 0.3rem 0.5rem;
}

.footer-contact {
  text-align: right;
  color: #545e6f;
  margin: 0 0.5rem;
}

.footer-copyright {
  border-top: 3px solid #cfcfcf;
  text-align: center;
  color: #545e6f;
  margin: 1rem 0.5rem;
  padding: 1rem;
}

.program1-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program12-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.program2-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program3-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.program1-explain {
  margin-left: 2rem;
  width: 650px;
  height: 350px;
  overflow:hidden;
  margin:0 auto;
}
.login-explain {
  width: 1420px;
  height: 150px;
  background-color: rgba(196, 196, 196, 0.34);
  align-items: center;
  display: flex;
  justify-content: space-around;

}
.program2-explain {
  margin-right: 2rem;
  width: 650px;
  height: 350px;
  overflow:hidden;
  margin:0 auto;
}
.program1-explain1 {
  margin-right: 2rem;
}
.program2-explain2 {
  margin-left: 2rem;
}
.explain1 {
  font-size: 1.3rem;
  font-weight: bold;
}
.image-thumbnail {
    width:100%;
    height:100%;
    object-fit:scale-down;
}


#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align: center;

  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1500px;
  }
  .program1 {
    max-width: 1500px;
  }
}
@media only screen and (min-width: 1200px) {
  .inner1 {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
  .roadmap-desc {
    display: none;
  }
}
